body{
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    background-image: url("./Background.png");
}

@font-face {
    font-family: pixelFont;
    src: url("BBB_Simulator_Black.otf");
  }

#grid
{
    display:grid;
    position:absolute;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto 
}
#queue
{
    display:grid;
    position:absolute;
    grid-template-rows:auto auto auto auto auto;
    grid-template-columns:auto 
}

#hold
{
    position:absolute;
    left:30px;
    top:77px;
}

#controls_grid
{
    display:grid;
    grid-template-columns:auto auto;

}

#counter_box
{
    background:transparent;
    border:0px
}

#game_container
{
    position:absolute
}
